<div class="container mt-5" *ngIf="auth.userProfile$ | async as profile">
  <div
    class="row align-items-center profile-header mb-5 text-center text-md-left"
  >
    <div class="col-md-2">
      <img
        [src]="profile.picture"
        class="rounded-circle img-fluid profile-picture mb-3 mb-md-0"
      />
    </div>
    <div class="col-md">
      <h2>{{ profile.name }}</h2>
      <p class="lead text-muted">{{ profile.email }}</p>
    </div>
  </div>

  <!-- <div class="row" *ngIf="profileJson">
    <pre class="rounded"><code class="json" [highlight]="profileJson"></code></pre>
  </div> -->

  <div *ngIf="profile.email_verified">
    <h2>Post Item</h2>
    <div class="card bg-light col-md-6">
      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">  

          <div class="form-group">
            <label for="InputEmailLabel">Title</label>
            <input type="text" class="form-control" [(ngModel)]="model.Title" name="Title" placeholder="Advert Title">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
<!-- 
          <div class="form-group">
            <label for="FormControlSelect1">Category</label>
            <select class="form-control" [(ngModel)]="model.Category" name="Category">
              <option>Gaming</option>
              <option>Gardening</option>
              <option>Power Tools</option>
              <option>Kitchen</option>
              <option>Camping</option>
              <option>Beach</option>
            </select>
          </div> -->

          <div class="form-group">
            <label for="InputDescriptionLabel">Description</label>
            <textarea type="text" class="form-control" [(ngModel)]="model.Description" name="Description" placeholder="Describe your advert"></textarea>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>

          <div class="form-group">
            <label for="InputOneWordDescriptionLabel">Describe Your Item</label>
            <input type="text" class="form-control" [(ngModel)]="model.OneWordDescription" name="OneWordDescription" placeholder="Describe your item for rent in one word">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>

          <div class="form-group">
            <label for="InputEmailLabel">Location</label>
            <input type="text" class="form-control" [(ngModel)]="model.Location" name="Location" placeholder="Where are you?">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          
          <div class="form-group">
            <label for="InputContactlLabel">Contact</label>
            <input type="text" class="form-control" [(ngModel)]="model.Contact" name="Contact" placeholder="Contact">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>

          <div class="form-group">
            <label for="InputContactlLabel">Category</label>
            <input type="text" class="form-control" [(ngModel)]="model.Category" name="Category" placeholder="Category">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text">Upload</label>
            </div>
            
            <div class="custom-file"> <!--[(ngModel)]="model.Image1" -->
              <input type="file" class="custom-file-input" name="Image1" [(ngModel)]="Image" name="model.Image"
                aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
            </div>
          </div>
          
          <br>
          
          <div class="form-check">
              <input type="checkbox" class="form-check-input" [(ngModel)]="model.Check" name="Check">
              <label class="form-check-label" for="exampleCheck1">Terms and Conditions</label>
            </div>
       
      
            <!-- <div class="file-field">
              <div class="btn btn-primary btn-sm float-left">
                <span>Choose file</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your file">
              </div>
            </div> -->
          

         
          <br>
          <button type="submit" class="btn btn-primary" ng-click="onSubmit()" id="SubmitButton">Submit</button>
        </form>
       
      </div>
    </div>
  </div>

  <div *ngIf="!profile.email_verified">
    <h1>You need to verify your email stupid</h1>
  </div>
  <br>

  <!-- <button (click)="PingAPI()">Ping Api</button> -->

  <!-- <div> 
    <button (click)="PingAPI()">Ping Api</button>

    <pre *ngIf="responseJson">
      <code>{{ responseJson | json }}</code>
      </pre>
  </div> -->
</div>
